@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Press+Start+2P&display=swap');

@font-face { 
    font-family: "cheapsign";
    src: url("fonts/CheapSign.ttf");
    }
@font-face{ 
    font-family: "3dlet";
    src: url("fonts/3dlet.ttf");
    }
@font-face{ 
    font-family: "saira";
    src: url("fonts/SairaStencilOne-Regular.ttf");
    }

h1 {
    color: rgb(110, 34, 91); 
    font-family: '3dlet', "saira"; 
    font-size: 40px;
    font-stretch: narrower;
    text-transform: none;
    }
p {
    font-size: 20px;
    color: grey; 
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: left;
}
img {width: 300px;margin: 20px;}